h1 
{
    color : blue ;
}

.ran-color-genrator
{
    display: flex;
    justify-content: center;
   
   

}
.centerd_div
{
    text-align: center;
    margin-top: 40px;
    border : 2px solid black ;
    height : 300px ;
    width: 400px;
    align-content: center;
}
.color_box
{
    height : 60px ;
    width : 200px ;
    border: 1px solid black;
    margin: auto;
}

.btns
{
    margin: 10px 4px 5px 4px ;
    padding: 2px;
}


